@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-size: 10px 10px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  }
}

.pin-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 5;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}

.pin-marker::after {
  content: attr(data-pin-name);
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px 4px;
  border-radius: 2px;
}

.pin-marker:hover {
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 20;
}

/* Function to get signal colors */
